.searchFilterContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-between;
}

.searchFilterColumn{
  display: flex;
  flex-direction: column;
  /* border: 1px solid green; */
}

.filtersToggleBotLeft{
  display: none;
}

.sortOptions{
  display: flex;
  border: 1px solid white;
}

.searchFilterContainer p{
  margin: 0;
}


.searchFilter{
  display: flex;
  flex-direction: column;
}


.searchFilterGroup{
  width:100%;
  display: flex;
  justify-content:space-between;
  padding-right: 1.5rem;
  margin-bottom: 0.2rem;
  border: 1px solid maroon;
}


.gameFilters{
  display: flex;
}

.searchFilterContainer label {
  font-weight: bold;
}

/* .searchFilterContainer>div {
  display: flex;
  flex-wrap: wrap;
} */

.searchFilterContainer>div>label {
  margin-right: 0.4rem;
}

.radiusFilter,.startDateFilter,.endDateFilter {
  display: flex;
  flex-direction: column;
}


.startDateFilter,.endDateFilter label {
  /* width:100%; */
  /* min-width:73px; */
  border:1px solid orange;
}

.startDateFilter>div:first-of-type,.endDateFilter>div:first-of-type,
.startDateFilter>div:first-of-type>div,.endDateFilter>div:first-of-type>div,
.startDateFilter div:first-of-type div input,.endDateFilter div:first-of-type div input {
  width: 4rem;
  height: 21px;
}

.endDateFilter>div>div>button{
  padding-right: 0px !important;
  transform: translateX(1rem);
}

.gameList{
  display: flex;
  flex-wrap:wrap;
  padding-top: 0.1rem;
  padding-left: 0.7rem;
}

.gameList label {
  font-weight: normal;
  margin-left: 0.3rem;
}

.gameCheckbox {
  min-width: 65px;
}

.gameCheckbox:not(:last-child) label {
  padding-right: 0.5rem;
}

.pPlus {
  min-width: 21px;
}

.submitButton {
  width:4rem;
  margin-left: 0.5rem;
  border:1px solid black;
  position: fixed;
}

@media only screen and (min-width: 475px) {
  .searchFilterContainer {
    justify-content: flex-start;
  }

  .searchFilterContainer>div:not(:last-child) {
    margin-right: 0.5rem;
  }

  .searchContainer {
    font-size: 1.3125rem;
  }

  /* .filters {
    font-size: 0.9rem;
  } */
}

@media only screen and (min-width: 625px) {
  .searchFilterContainer {
    justify-content: flex-start;
  }

  .gameList {
    display: flex;
    flex-wrap: wrap;
  }

  .searchFilterContainer>div:not(:last-child) {
    margin-right: 0.8rem;
  }
}

@media only screen and (min-width: 900px) {

  .dateFilter>div:first-of-type,
  .dateFilter>div:first-of-type>div>input {
    width: 80px;
    height: 25px;
  }

  .radiusFilter select {
    max-height: 25px;
  }

  .searchContainer {
    /* font-size: 1.3125rem;  */
  }

  .filters {
    font-size: 0.9rem;
  }

  .searchFilterContainer>div>label {
    margin-right: 0.7rem;
  }

  .gameCheckbox:not(:last-child) label {
    padding-right: 0.8rem;
  }
}