* {
  box-sizing: border-box;
}

html {
  background-color: #c1c1c1;
  margin: 0 auto;
  font-size: 16px;
}

.pageContainer {
  min-height: 100vh;
  margin: auto;
  width: 95%;
  height:100%;
  max-width: 900px;
}
.bodyContainer{
  margin-bottom: auto;
  z-index: 4;
  background: rgba(197, 197, 197, 0.7); 
  padding:0.35rem;
  border-radius:6px;
}

main {
  background-image: url(../img/background.jpg);
  background-size:cover;
  min-height: 100vh;
}

.col {
  display: flex;
  flex-direction: column;
}

.overlay{
  position:absolute;
  height:100%;
  width:100%;
  background-color:rgba(0,0,0,0.76);
  z-index:1
}

.title {
  padding: 0.5rem 0;
  text-align: center;
  margin: auto;
  margin-bottom:1rem;
  color:white;
  font-size:2rem;
  z-index:2;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(0,0,0,0.5);
  text-shadow: 1px 1px 1rem black,
  2px 2px 0.4rem white;
}

.title__active{
  margin: 0.5rem 0;
}


.titleBeta {
  font-size: 0.9rem;
  color: red;
  text-shadow: 1px 1px black, -1px -1px black;
}

.titleVersion{
  font-size: 0.9rem;
  color: yellow;
  margin-left: 0.2rem;
}

.searchContainer {
  width: 100%;
  border: 1px solid black;
  padding:0.5rem;
  background:rgb(210, 210, 210);
  border-radius: 0.8rem;
  z-index:3;
  margin-top:0;
  margin-bottom: auto;
}

.resultsContainer {
  width: 100%;
  flex-direction: column;
  height:calc(100vh - 3rem - 13.5rem);
  z-index:3;
  margin-bottom:0.5rem;
}


.errorMessageWrapper {
  width: auto;
  max-width: 80%;
  color: red;
  background: white;
  border: 1px solid red;
  padding: 0.5rem 1rem;
  border-radius: 3rem;
  text-align: center;
  margin: 3.5rem auto;
  z-index:2;
}

.errorMessageWrapper p {
  margin: 0;
}

@media only screen and (min-width: 475px) {

  .title{
    font-size:2.4rem;
  }
  .resultsContainer{
    height:calc(100vh - 3.5rem - 12rem);
    
  }
  
}

@media only screen and (min-width: 625px) {
  .resultsContainer {
    flex-direction: row;
    justify-content: space-between;
  }
  .resultsContainer {
    height: calc(100vh - 2.5rem - 3.5rem - 10rem);
  }
  .errorMessage {
    margin: 6rem auto;
  }
}

@media only screen and (min-width: 768px) {


  .title{
    font-size: 3rem;
  }

  .errorMessage {
    margin: 7rem auto;
  }
}
