*{
  box-sizing: border-box;
  
}

body{
  margin:0 auto;
}

.header{
  margin-top: 1em;
}

.bodyContainer{
  background-color: #c1c1c1;
  height:100%;
}

.pageContainer{
  height:100vh;
  width:85%;
  display: flex;
  margin: auto;
  flex-direction:column;
  align-items: center;
}


.contentContainer{
  width:100%;
  height:100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 5em;
}

.resultsContainer{
  background: #f2f2f2;
  border: 4px solid black;
  border-radius: 3px;
  height: 70vmin;
  width: 40%;
  margin-right: 10px;
}

.searchContainer{
  justify-content: center;
  display: flex;
  width: 100%;
  margin-bottom: 1.5rem;
  align-items: center;
  height: 10vh;
  flex-direction: column;
}


@media only screen and (max-width:768px){
  .pageContainer{
    width:100%
  }
  
  .header{
    margin-bottom: 1em;
  }

  .contentContainer{
    height: 73%;
  }
  .resultsContainer{
    width:90%;
    height:90%;
    margin:auto;
  }
}