.mapContainer {
  background: #ede5ff;
  width: 48%;
  margin-bottom: 1rem;
  display: none;
}

.mapWrapper {
  min-height: 350px;
  height: calc(100vh - 2.5rem - 6.5rem - 5rem);
}

.infoWindowWrapper {
  display: flex;
  max-width: 300px;
  background-color: white;
}

.tournamentThumbnail {
  max-width: 65px;
  max-height: 65px;
  margin: auto 0.5rem auto 0;
}

.tournamentInfo {
  margin: auto 0;
}

.infoWindowWrapper h5 {
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
}

.infoWindowWrapper p {
  margin-bottom: 0;
}

@media only screen and (min-width: 625px) {
  .mapContainer {
    display: block;
  }
}

@media only screen and (min-width: 768px) {
  .mapContainer {
    width: 48%;
  }

}
