.mapContainer{
  background: #ede5ff;
  width: 40%;
  margin-bottom: 1rem;
  display:none;
}

.mapWrapper{
  /* width: 88vw; */
  min-height: 375px;
  height:65vh;
}

@media only screen and (min-width:625px) {
  .mapContainer {
    display:block;
  }
}

@media only screen and (min-width:768px) {
  .mapContainer {
    width:48%;
  }

  .mapWrapper{
    height:69vh;
  }
}