.searchContainer {
  justify-content: center;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  border: 1px solid green;
}

.searchForm{
  width:100%;
}

.searchbar{
  margin-bottom:0.5rem;
}

.searchbar a{
  padding-left:0.4rem;
  font-size: 0.8rem;
  font-style:italic;
}

.filters{
  display: flex;
  justify-content:space-between;
  align-items:flex-start;
  font-size:0.85rem;
  /* border: 1px solid red; */
}

.searchFilterContainer{
  width:100%;
}

.searchFilters{
  display:flex;
  justify-content:space-between;
  align-items: flex-start;
}

.searchFilters label{
  font-weight: bold;
}

.searchFilters > div{
  display:flex;
  /* flex-direction:column; */
  flex-wrap:wrap;
  /* border: 1px solid rgb(4, 0, 255); */
}

.searchFilters>div>label {
  margin-right: 0.3rem;
}

.radiusFilter{
  /* display:flex;
  flex-direction:column; */
  /* margin-bottom:0.2rem; */
  /* border: 1px solid green; */
}

.radiusFilter select{
  max-height:22px;
}

.dateFilter {
  /* display:flex;
  flex-direction:column; */
  /* border: 1px solid yellow; */
}

.dateFilter label {
  min-width:75px;
  /* display:flex; */
  /* border: 1px solid purple; */
}

.dateFilter > div {
  width: 68px;
  height: 22px;
  /* border: 1px solid orange; */
}

.dateFilter>div>div>input {
  width: 68px;
  height: 22px;
}

.gameFilter{
  flex-grow:2;
}

.gameList{
  border: 1px solid orange;

}

.gameList label{
  font-weight: normal;
  margin-left: 0.3rem;
}

.gameCheckbox{
  min-width:62px;
}

.gameCheckbox:not(:last-child) label {
  padding-right: 0.5rem;
}

.pPlus{
  min-width:21px;
}

.submitButton{
  margin-left:0.5rem;
}

@media only screen and (min-width:475px) {
  .searchFilters {
      justify-content: flex-start;
    }
    
  .searchFilters > div:not(:last-child){
      margin-right:0.5rem;
    }
  /* 
  
  .searchFilters > div{
    flex-direction:row;
  }


  
  */
}

@media only screen and (min-width:615px) {
  .searchFilters {
    justify-content:flex-start;
  }
  .gameList {
    display: flex;
  }
}

/* 



.searchFilter label{
  padding-right: 0.4rem;
}



.gameFilters{
  display: flex;
  justify-content:center;
  padding: 0 0.3rem;
  flex-grow: 2;
}

.gameFilters>label {
  padding-right: 1rem;
}

.gameList{
  display:flex;
  flex-wrap:wrap;
  padding-top:2px;
}

.gameCheckbox{
}

.gameCheckbox label{
  padding-left: 0.3rem;
}
.gameCheckbox:not(:last-child) label{
  padding-right: 0.5rem;
}


@media only screen and (max-width:375px) {
  .radiusFilter{
    flex-direction:column;
  }

  .gameFilters>label {
    padding-right: .4rem;
  }

  .gameList{
    flex-direction:column;
    flex-wrap:nowrap;
  }

  .gameCheckbox:not(:last-child) label {
    padding-right: 0;
  }

  .searchFilter label {
    padding-right: 0;
  }

  .dateFilter>div {
    margin-left: 0;
  }
} */