
.autocomplete{
  width:100%;
  padding-bottom: 0.5rem;
}

.searchbar{
  width:100%;
}

.filters{
  display: flex;
  justify-content:space-between;
  padding-top:0.5rem;
}

.filters > div >*{
  padding: 0 0.5rem;
}