.eventWrapper{
  display:flex;
  border: 1px solid #dbdbdb;
  width: 100%;
  justify-content:center;
}

.eventDesc{
  display: flex;
  flex-flow: column wrap;
  padding: 10px 0 10px 15px;
  flex-grow: 2;
}

.eventImg{
  width: 2%; 
  padding: 0 0 0 5px;
  flex-grow: 1;
}