.eventLink, .eventLink:hover{
  text-decoration: none;
  color:white;
}

.eventWrapper{
  display:flex;
  border: 1px solid #dbdbdb;
  width: 100%;
  justify-content:center;
  background-color:rgba(0,0,0,0.95);
}

.eventDesc{
  display: flex;
  flex-flow: column wrap;
  padding: 10px 0 10px 15px;
  flex-grow: 2;
  font-size: 0.83rem;
}

.eventImg{
  width: 10%; 
  padding: 0 0 0 5px;
  flex-grow: 1;
  min-width: 75px;
  max-width: 100px;
}

.eventTime {
  display:flex;
}

.eventTime p {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.3rem;
}

.eventTime p + p{
  margin-left: 0.8rem;
}

@media only screen and (min-width:625px) {
  .eventDesc{
    font-size: 0.9rem;
  }
}